<h1> My Profile </h1>
<ul>
  <%= @user.first_name %> <%= @user.last_name %>
</ul>

<% current_user.backed_projects.each do |project| %>
	<%= project.name %>
<% end %>

<div class="projects_owned">

</div>



