<h1>All Projectss</h1>
<%= link_to "New Project", "/projects/new" %>

<!-- this is aysha's new comment -->

<% @projects.each do |project| %>
  <p><%= project.name %> <br>
  <%= project.description %></p>
  <%= link_to image_tag(project.photo), "/projects/#{project.id}"%>
<% end %>

<!-- jfkasjlskajdkasljdalsjsal - Fernando Ikeda -->